{%- assign p = include.item -%}
<article class="entry">
  <h3 class="entry-title">
    {%- if p.paper_url -%}<a href="{{ p.paper_url }}">{{ p.title }}</a>{%- else -%}{{ p.title }}{%- endif -%}
  </h3>

  {%- if p.byline %}
  <p class="entry-byline">{{ p.byline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
  {%- endif %}

  {%- if p.content and p.content != "" %}
  <details class="abstract">
    <summary>Abstract</summary>
    <div class="entry-abstract">{{ p.content | markdownify }}</div>
  </details>
  {%- endif %}

  {%- if p.links %}
  <p class="entry-links">
    {%- for l in p.links %}<a href="{{ l.url }}">{{ l.name }}</a>{% endfor -%}
  </p>
  {%- endif %}
</article>
